<!-- <ul>
  <li><a href="/client/teams">NBA TEAMS</a></li>
</ul> -->
<%= @teams.each do |team| %>
  <h2><%= team["name"] %></h2>
  <h3>Points Scored: <%= team["points_scored"] %></h3>
  <h3>Points Allowed: <%= team["points_allowed"] %></h3>
  <h3>Average Age: <%= team["avg_age"] %></h3>
  <br>
  
<% end %>